{% extends 'base.html.twig' %}

{% block title %}Médecins{% endblock %}

{% block searchBar %}
    <input aria-label="Search" class="form-control form-control-dark w-100" id="search"
           placeholder="Rechercher un médecin..." name="name" type="text">
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Médecins</h1>
        <div class="container p-0 m-0">
            <div class="row justify-content-end p-0 m-0">
                <div class="col-auto me-0 pe-0">
                    <a class="btn btn-success" href="{{ path('medecin_new') }}">Nouveau</a>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Tel</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for medecin in medecins %}
            <tr>
                <td>{{ medecin.id }}</td>
                <td>{{ medecin.nom }}</td>
                <td>{{ medecin.prenom }}</td>
                <td>{{ medecin.adresse }}</td>
                <td><a href="tel:{{ medecin.tel }}">{{ medecin.tel }}</a></td>
                <td>
                    <a class="btn btn-outline-primary"
                       href="{{ path('medecin_show', {'id': medecin.id}) }}">Afficher</a>
                    <a class="btn btn-outline-warning"
                       href="{{ path('medecin_edit', {'id': medecin.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun médecin</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
